@charset "UTF-8";

/* Disable animation */
*,
.fxs-panorama-scrollbounce-onleft > .fxs-journey-target,
.fxs-panorama-scrollbounce-onright > .fxs-journey-target {
    transition: none !important;
    transform: none !important;
}

/* Disable horizontal scrolling. */
.fxs-portal .fxs-portal-content {
    overflow-x: hidden;
    overflow-y: auto;
}

/* In default, single-pane view */
section.fxs-blade {
    width: calc(100vw - 85px) !important;
        margin-right: 0 !important;
}

/* Remove buttons. */
section.fxs-blade > header button.fxs-blade-maximizeOrRestore,
section.fxs-blade > header button.fxs-blade-minimize {
    display: none;
}

/* If window size larger than 1200px, will 2-pane view automatically. */
@media screen and (min-width: 1200px) {
    section.fxs-blade:nth-last-child(2) {
        width: calc(35vw - 85px) !important;
        min-width: 0 !important;
    }

    section.fxs-blade:last-child {
        width: calc(65vw) !important;
        margin-right: 0 !important;
    }

    section.fxs-blade.fxs-blade-maximized:last-child {
        width: calc(100vw - 85px) !important;
    }

    section.fxs-blade:last-child > header button.fxs-blade-maximizeOrRestore {
        display: inline-block;
    }

    section.fxs-blade:only-child {
        width: calc(100vw - 85px) !important;
    }

    section.fxs-blade:only-child > header button.fxs-blade-maximizeOrRestore {
        display: none;
    }
}

/* Blade content should be 100% width everytime. */
section.fxs-blade > div.fxs-blade-content > div {
    width: 100% !important;
}
