@charset "UTF-8";

/* Disable animation */
*,
.fxs-panorama-scrollbounce-onleft > .fxs-journey-target,
.fxs-panorama-scrollbounce-onright > .fxs-journey-target {
    transition: none !important;
    transform: none !important;
}

/* Disable horizontal scrolling. */
.fxs-portal .fxs-portal-content {
    overflow-x: hidden;
    overflow-y: auto;
}

/* In default, single-pane view */
section.fxs-blade {
    width: calc(100vw - 224px) !important;
    margin-right: 0 !important;
}

div.fxs-sidebar-is-collapsed ~ div.fxs-portal-content section.fxs-blade {
    width: calc(100vw - 58px) !important;
}

.fxs-journey>.fxs-journey-layout::after {
    width: 0 !important;
}

/* Remove buttons. */
section.fxs-blade > header button.fxs-blade-maximizeOrRestore,
section.fxs-blade > header button.fxs-blade-minimize {
    display: none;
}

/* If window size larger than 1200px, will 2-pane view automatically. */
@media screen and (min-width: 1200px) {

    section.fxs-blade:nth-last-child(2) {
        width: calc(50vw - 224px) !important;
        min-width: 0 !important;
    }

    div.fxs-sidebar-is-collapsed ~ div.fxs-portal-content section.fxs-blade:nth-last-child(2) {
        width: calc(50vw - 58px) !important;
    }

    /* last blade */
    section.fxs-blade:last-child,
    div.fxs-sidebar-is-collapsed ~ div.fxs-portal-content section.fxs-blade:last-child {
        width: calc(50vw) !important;
        margin-right: 0 !important;
    }

    /* fixed bladesizes */
    section.fxs-blade:nth-last-child(2).uni-fixed-bladesize-side,
    section.fxs-blade:last-child.uni-fixed-bladesize-side,
    div.fxs-sidebar-is-collapsed ~ div.fxs-portal-content section.fxs-blade:nth-last-child(2).uni-fixed-bladesize-side,
    div.fxs-sidebar-is-collapsed ~ div.fxs-portal-content section.fxs-blade:last-child.uni-fixed-bladesize-side {
        width: 315px !important;
    }
    section.fxs-blade:nth-last-child(2).uni-fixed-bladesize-main,
    section.fxs-blade:last-child.uni-fixed-bladesize-main {
        width: calc(100vw - 224px - 315px) !important;
    }
    div.fxs-sidebar-is-collapsed ~ div.fxs-portal-content section.fxs-blade:nth-last-child(2).uni-fixed-bladesize-main,
    div.fxs-sidebar-is-collapsed ~ div.fxs-portal-content section.fxs-blade:last-child.uni-fixed-bladesize-main {
        width: calc(100vw - 58px - 315px) !important;
    }

    /* If last blade is maximized */
    section.fxs-blade.fxs-blade-maximized:last-child {
        width: calc(100vw - 224px) !important;
    }
    /* and sidebar is collapsed */
    div.fxs-sidebar-is-collapsed ~ div.fxs-portal-content section.fxs-blade.fxs-blade-maximized:last-child {
        width: calc(100vw - 58px) !important;
    }

    section.fxs-blade:last-child > header button.fxs-blade-maximizeOrRestore {
        display: inline-block;
    }

    section.fxs-blade:only-child {
        width: calc(100vw - 224px) !important;
    }

    div.fxs-sidebar-is-collapsed ~ div.fxs-portal-content section.fxs-blade:only-child {
        width: calc(100vw - 58px) !important;
    }

    section.fxs-blade:only-child > header button.fxs-blade-maximizeOrRestore {
        display: none;
    }

}

/* Blade content should be 100% width everytime. */
section.fxs-blade > div.fxs-blade-content > div {
    width: 100% !important;
}

/* Grid row size tweak. */
table.azc-grid-full > tbody > tr > td.azc-br-muted:last-child > div.azc-grid-cellContent > div.azc-vivaControl > div {
    padding-top: 9px !important;
    padding-bottom: 8px !important;
}
